<div class="experience">
    <!-- This is a ResumeEntry -->
        <!-- description of the job or project -->
    <div class="resumeEntry clearfix">
        <div class="when">
            <!-- date of the job -->
            <p>
                2011<br>
                <em>~ongoing</em>
            </p>
        </div>

            <div class="description">
            <h3>
                <strong>Envato</strong>
            </h3>
            <h5>
                <a href="http://www.envato.com/" target="_blank">envato.com</a>
            </h5>

            <p>Ruby developer on the Envato Marketplaces attracting a community of over a million members.<br/><strong></strong></p>

            <p><strong>Technologies</strong>: Ruby, Rails, Git, Cucumber, rSpec, MySQL.<br/><strong></strong></p>

            <p><strong>Softwares</strong>: Mac OS/X, Terminal, Sublime Text</p>

            <p><strong>Projects</strong>: <a href="http://themeforest.net/" target="_blank">Envato Marketplaces</a>

            <p>Currently sponsored</p>
        </div>    
    </div>
</div> 
<div class="experience">
    <!-- This is a ResumeEntry -->
        <!-- description of the job or project -->
  

    <div class="resumeEntry clearfix">
        <div class="when">
            <!-- date of the job -->
            <p>
                2010<br>
                <em>~2011</em>
            </p>
        </div>

        <div class="description">
            <h3>
                <strong>Flint Interactive - Melbourne digital studio</strong>
            </h3>
            <h5>
                <a href="http://www.flintinteractive.com.au/" target="_blank">flintinteractive.com.au</a>
            </h5>

            <p>Server-side / Front-end position working on renowned brand websites<br/><strong></strong></p>

            <p><strong>Technologies</strong>: PHP, HTML, CSS, jQuery, SVN, XSLT, Unix, SSH, FTP, MVC, OOP, Less,
                MySQL, Ant<br/><strong></strong></p>

            <p><strong>Softwares</strong>: Mac OS/X, PHPStorm, iTerm, Photoshop</p>

            <p>Projects: <a href="http://www.lmff.com.au/" target="_blank">Lor&eacute;al</a>, <a
                    href="http://www.spalding.com.au/" target="_blank">Spalding</a>, <a
                    href="http://www.russellathletic.com.au/" target="_blank">Russell Athletics</a>, <a
                    href="http://calibre.com.au/">Calibre</a>, <a href="http://www.gapaustralia.com/"
                                                                  target="_blank">Gap</a>, <a
                    href="http://www.sanchurro.com/" target="_blank">San Churro</a> and over 20 other websites.</p>

            <p>The contract led to a sponsorship</p>
        </div>
    </div>
</div>
<!-- ResumeEntry ends Here -->
<!-- list of jobs 2010 -->
<div class="experience">
    <!-- This is a ResumeEntry -->
    <div class="resumeEntry clearfix">
        <div class="when">

            <!-- date of the job -->
            <p>
                2010<br>
                <em>~2010</em>
            </p>
        </div>
        <!-- description of the job or project -->
        <div class="description">
            <h3>

                <strong>Igloo - Melbourne digital agency</strong>
            </h3>
            <h5>
                <a href="http://www.igloo.com.au" target="_blank">igloo.com.au</a>
            </h5>

            <p>Working on high quality websites such as <a href="http://www.mazda.com.au"
                                                           target="_blank">Mazda.com.au</a>
                and as a lead front end developer on <a href="http://www.brideadviser.com/" target="_blank">brideadviser.com</a>
                / <a href="http://www.bride.com.au/" target="_blank">bride.com.au</a>.<br/>
                <br/><strong>Technologies:</strong>
                HTML, CSS, XSLT, jQuery, jQuery UI, AJAX, APIs (Google Maps, Twitter, Flickr, Youtube, Facebook),
                SVN, PHP. <br/><br/> <strong>Softwares:</strong> Mac OSX, Textmate, Versions, Snippets, Photoshop CS
                5, Sitecore, Transmit, Sequel Pro, Firebug, Mamp, CSS Edit.</p>

            <p>The contract led to an offer for sponsorship</p>
        </div>
    </div>
</div>
<!-- ResumeEntry ends Here -->
<!-- list of jobs 2010 -->
<div class="experience">
    <!-- This is a ResumeEntry -->
    <div class="resumeEntry clearfix">
        <div class="when">

            <!-- date of the job -->
            <p>
                2009<br>
                <em>~2010</em>
            </p>
        </div>
        <!-- description of the job or project -->
        <div class="description">
            <h3>

                <strong>Smokin' Tops - Social Network where users share their favourites</strong>
            </h3>
            <h5>
                <a href="http://smokintops.com" target="_blank">smokintops.com</a>
            </h5>

            <p>Designing and developing the entire application from scratch. This project was part of my masters
                degree final year project.</p>

            <p><strong>Technologies</strong>: PHP, JavaScript, HTML, CSS, MySQL, APIs</p>

            <p><strong>Frameworks</strong>: CakePHP, jQuery<strong>&nbsp;</strong></p>

            <p>Today, <a href="http://www.smokintops.com" target="_blank">smokintops.com</a> attracts over 16,000
                visitors per month.</p>
        </div>
    </div>
</div>
<!-- ResumeEntry ends Here -->
<!-- list of jobs 2010 -->
<div class="experience">
    <!-- This is a ResumeEntry -->

    <div class="resumeEntry clearfix">
        <div class="when">
            <!-- date of the job -->
            <p>
                2007<br>
                <em>~2007</em>
            </p>
        </div>
        <!-- description of the job or project -->

        <div class="description">
            <h3>
                <strong>GTI Canada Inc.</strong>
            </h3>
            <h5>
                <a href="http://www.gticanada.com/" target="_blank">gticanada.com</a>
            </h5>

            <p>Company providing FileMaker Pro products.</p>

            <p>Developing and maintaining FileMaker Pro applications.</p>

            <p>The internship led to a permanent job offer.</p>
        </div>
    </div>
</div>
<!-- ResumeEntry ends Here -->
<!-- list of jobs 2010 -->
<div class="experience">
    <!-- This is a ResumeEntry -->
    <div class="resumeEntry clearfix">

        <div class="when">
            <!-- date of the job -->
            <p>
                2007<br>
                <em>~2007</em>
            </p>
        </div>
        <!-- description of the job or project -->
        <div class="description">

            <h3>
                <strong>La Vie En Rose</strong>
            </h3>
            <h5>
                <a href="http://www.lavieenrose.com/" target="_blank">lavieenrose.com</a>
            </h5>

            <p>Number one lingerie, undergarments, and sleep- wear company in Canada.</p>

            <p>Designing and developing an Object-oriented .NET application.</p>

            <p>The internship led to a permanent job offer.</p>
        </div>
    </div>
</div>
<!-- ResumeEntry ends Here -->
<!-- list of jobs 2010 -->
<div class="experience">
    <!-- This is a ResumeEntry -->
    <div class="resumeEntry clearfix">
        <div class="when">

            <!-- date of the job -->
            <p>
                2003<br>
                <em>~2006</em>
            </p>
        </div>
        <!-- description of the job or project -->
        <div class="description">
            <h3>

                <strong>French Ministry Of Industry</strong>
            </h3>
            <h5>

            </h5>

            <p>Designing and developing ASP intranet applications.</p>
        </div>
    </div>
</div>