<ul id="sidebarNav">
    <li style="list-style: none">

    </li>
    <li class="sidebarLi">
        <a href="#section-12" class="active">About Me</a>
    </li>
    <li style="list-style: none">
    </li>
    <li class="sidebarLi">
        <a href="#section-11">Skills</a>

    </li>
    <li style="list-style: none">
    </li>
    <li class="sidebarLi">
        <a href="#section-10">Education</a>
    </li>
    <li style="list-style: none">
    </li>

    <li class="sidebarLi">
        <a href="#section-9">Interests</a>
    </li>
    <li style="list-style: none">
    </li>
    <li class="sidebarLi">
        <a href="#section-8">Extra</a>
    </li>

    <li style="list-style: none">
    </li>
</ul>

<div id="sidebarContent">

    <div id="section-12" class="sidebarPanel">
        <h4>
            About Me
        </h4>

        <p>I am presently a Ruby developer at Envato, a Melbourne-based startup.</p>

        <p>People describe me as a truly inspired and talented web developer.</p>

        <p>In addition, as an accomplishment of my e-business masters degree I&lsquo;ve developed my own project

            from scratch named <a href="http://smokintops.com" target="_blank">Smokin&rsquo; Tops </a> which is a

            social network allowing its community to create and share Top lists.</p>
        </div>
        <div id="section-11" class="sidebarPanel">
            <h4>
                Skills
            </h4>

            <p>

                <title></title>
            </p>
            <p><strong>WEB RELATED TECHNOLOGIES</strong><br/> JavaScript, PHP, Ruby, HTML, CSS, MySQL<br/> jQuery, MVC
                (CakePHP, Struts, Symfony 2)<br/> PHPStorm / RubyMine, Textmate, Photoshop<br/> Mac, Unix, Git, SVN,
                CoffeeScript, Sass, APIs, Ant, OOP, TCP/IP</p>

                <p><strong>E-BUSINESS RELATED SKILLS</strong><br/> Major Business Models<br/> Online Advertising<br/> Social
                    Media Marketing<br/> Search Engine Marketing / SEM<br/> Search Engine Optimisation / SEO<br/> General
                    knowledge of Internet laws</p>

                    <p><strong>PERSONAL PROJECTS</strong><br/> <a href="http://smokintops.com" >Smokin&rsquo;
                        Tops</a> : social network where users share favourites<br/> <a href="http://minijs.com">MiniJs.com</a> : Suite
                        of jQuery plugins written in CoffeeScript<br/> <a
                        href="/sass-css3-mixins">Sass Css3 Mix-ins</a> :
                        Series of helpful Sass Mix-ins</p>

                        <p><strong>FOREIGN LANGUAGE</strong><br/> French (native)<br/> English (fluent)<br/> Spanish (intermediate)
                        </p>
                    </div>
                    <div id="section-10" class="sidebarPanel">
                        <h4>
                            Education
                        </h4>

                        <p><em>2008 - 2010</em><br/><strong>M.Sc Electronic Commerce - Major in Technology<em></em></strong><br/>
                            University of Montreal - HEC Montreal (International Business School)<br/>Montreal, Canada</p>

                            <p><em>2004 - 2007</em><br/><strong>B.Sc Computer Science (Major: Software Engineering)</strong><br/>Laval
                                University<br/> Quebec City, Canada</p>

                                <p><em>2001 - 2003</em><br/><strong>DUT en Informatique de Gestion / Computer Science Diploma</strong><br/>University
                                    of Toulouse<br/> Toulouse, France</p>
                                </div>
                                <div id="section-9" class="sidebarPanel">
                                    <h4>

                                        Interests
                                    </h4>

                                    <p><strong>Internet:</strong> news (Hacker News, Techmeme, ReadWriteWeb), screencasts (Peepcode).</p>

                                    <p><strong>Books</strong>: Don&rsquo;t make me think, Rework, Getting Real, JavaScript the good parts.</p>


                                    <p><strong>Music:</strong> acoustic guitar player, indie.</p>

                                    <p><strong>Sports: </strong> soccer, ice hockey.</p>

                                    <p><strong>Culture:</strong> travels &amp; documentaries.</p>

                                    <p><strong>Events</strong>: Js Melbourne, DevOps Melbourne, UX Melbourne, Trampoline, Lean Startup
                                        Melbourne.</p>

                                        <p><strong>Other</strong> : Social economics, minimalist design.</p>
                                    </div>
                                    <div id="section-8" class="sidebarPanel">

                                        <h4>
                                            Extra Curricular
                                        </h4>

                                        <p><em>JANUARY - MARCH 2010</em><br/> Tramping in New Zealand<br/> North and South Islands.</p>

                                        <p><em>MAY 2008 - AUGUST 2008 </em><br/> Backpacking in South-East Asia<br/> Thailand, Vietnam, Laos,
                                            Malaysia, Indonesia, Brunei, Singapore.</p>

                                            <p><em>SEPTEMBER 2007 </em> <br/> Montreal International Half Marathon<br/> Montreal, Canada</p>

                                            <p><em>FEBRUARY 2006 </em> <br/> Computer System Security Contest <br/> CRIM, Montreal, Canada</p>

                                            <p><em>SEPTEMBER 2003 - JUNE 2004 </em> <br/> Language Studies International - Intensive English Courses
                                                <br/> Brisbane, QLD</p>
                                            </div>
                                        </div>