<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!--
  888b     d888        d8888 88888888888 88888888888 888    888 8888888 8888888888 888     888
  8888b   d8888       d88888     888         888     888    888   888   888        888     888
  88888b.d88888      d88P888     888         888     888    888   888   888        888     888
  888Y88888P888     d88P 888     888         888     8888888888   888   8888888    888     888
  888 Y888P 888    d88P  888     888         888     888    888   888   888        888     888
  888  Y8P  888   d88P   888     888         888     888    888   888   888        888     888
  888   "   888  d8888888888     888         888     888    888   888   888        Y88b. .d88P
  888       888 d88P     888     888         888     888    888 8888888 8888888888  "Y88888P"
-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Matthieu Aussaguel | Resume</title>
  <meta name="description"
  content="Full stask developer focusing on Ruby, Rails, JavaScript and essential administration stuff."/>
  <meta name="keywords"
  content="ruby, rails, coffeescript, javascript, terminal, unix, job, resume, startup, html5, sass"/>
  <meta name="author" content="Matthieu Aussaguel"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="css/style.css?v=2">
  <link href="css/print.css" rel="stylesheet" type="text/css" media="print"/>


  <script src="js/libs/modernizr-1.7.min.js"></script>
  <title>{{ page.title }}</title>
</head>

<body>
  <div id="container">
    <header>
      <div id="header-inner">
        <div id="topBar" class=clearfix>
          <!-- Years on the top goes here -->
          <div id="social" class="clearfix">

            <ul>
              <li>
                <a id='twitter' href='http://www.twitter.com/mattaussaguel' title='My Twitter Page'
                class="png" target="_blank" name="twitter">My Twitter Page</a>

              </li>
              <li>
                <a id='github' href='http://github.com/matthieua' title="My GitHub Page" class="png"
                target="_blank" name="github">My GitHub Page</a>
              </li>
              <li>
                <a id='maps' href='http://bit.ly/MapsResume' title="My Google Maps Resume" target="_blank"
                name="maps">My Google Maps Resume</a>
              </li>
              <li>

                <a id='linkedin' href='http://www.linkedin.com/in/matthieuaussaguel' title="My LinkeIn Page"
                class="png" target="_blank" name="linkedin">My LinkedIn Page</a>
              </li>
            </ul>
          </div>
          <!-- end of years nav -->
          <!-- Hire Me text goes here -->
          <div id="topBarRight">
            <h2>
              Ruby Developer <em>/ Melbourne</em>
            </h2>
          </div>
          <!-- end of hire me text div-->
        </div>
        <!-- Below the dark bar, but still the header - Starts here -->
        <div id="information" class="clearfix">
          <!-- important contact info here -->
          <div id="info">
            <a href="files/resume_matthieu_aussaguel.pdf"
            title="My Resume / PDF file" id="pdfresume" name="pdfresume"></a>

            <h2>matthieu.aussaguel@gmail.com<br>

              <em> Melbourne, VIC, Australia</em><br>
            </h2>
          </div>
          <!-- Your name should go here -->
          <div id="name">
            <h1>
              Matthieu<br>
              <em>Aussaguel</em>
            </h1>
          </div>
        </div>
        <!-- / end of header ( white part ) -->
      </div>
    </header>
    <div id="main" role="main" class="clearfix">
      {{ content }}
        <div id="experiences">
          {% include experiences.html %}
        </div>
        <aside>
          {% include sidebar.html %}
        </aside>
    </div>
</div>
<!-- eo #container -->

<!-- scripts concatenated and minified via ant build script-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="javascript/smooth-scroll.js"></script>
<script src="javascript/libs/jquery.easing.1.3.js"></script>
<script src="javascript/plugins.js"></script>
<script src="javascript/script.js"></script>
<!-- end scripts-->


<!--[if lt IE 7 ]>
<script src="js/libs/dd_belatedpng.js"></script>
<script>DD_belatedPNG.fix("img, .png_bg");</script>
<![endif]-->


<script>
    var _gaq = [
        ["_setAccount","UA-4942880-5"],
        ["_trackPageview"]
    ];
    (function(d, t) {
        var g = d.createElement(t),s = d.getElementsByTagName(t)[0];
        g.async = 1;
        g.src = ("https:" == location.protocol ? "//ssl" : "//www") + ".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g, s)
    }(document, "script"));
</script>
</body>
</html>