---
layout: layout
---

<div class="content">
  <div id="post">
    {% include post_header.html %}
    {{ content }}
  </div>

  <div class="whoring">
    <h3>Discussion, links, and tweets</h3>
    <div class="copy">
      <a href="https://twitter.com/mattaussaguel"><img src="http://www.gravatar.com/avatar/6d381548ebbc8267946fb98c620db053.png" height="50" width="50" /></a>

      <p>
        I'm a ruby developer at Envato. <a href="https://twitter.com/mattaussaguel">Follow me on Twitter</a>.
      </p>
      <p>I'm also a french expat currently living in Melbourne, Australia.</p>
    </div>
  </div>
</div>
